version: "3"
services:
    nginx:
        container_name: nginx
        image: nginx
        volumes:
          - /root/jenkins_home/workspace/lovedev_nodejs/nginx.conf:/etc/nginx/nginx.conf
          - /root/nginx_log:/var/log/nginx
        links:
          - app:app
        ports:
          - "80:80"
    app:
        container_name: lovedev
        restart: always
        build: .
        ports:
            - "8888"
        volumes:
            - /root/jenkins_home/workspace/lovedev_nodejs:/root/lovedev
        command: sh /root/lovedev/start.sh
        links:
            - mongo
    mongo:
        container_name: mongo
        image: mongo
        volumes:
            - /root/db:/data/db
        ports:
            - "27017:27017"
